version: 2
jobs:
  publish-nodejs810:
    docker:
        - image: circleci/node:8-stretch
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y python3-pip
      - run:
          name: Install publish dependencies
          command: sudo pip3 install -U awscli
      - run:
          name: Publish layer
          command: |
            cd nodejs
            ./publish-layers.sh nodejs8.10
  publish-nodejs10x:
    docker:
        - image: circleci/node:10-stretch
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y python3-pip
      - run:
          name: Install publish dependencies
          command: sudo pip3 install -U awscli
      - run:
          name: Publish layer
          command: |
            cd nodejs
            ./publish-layers.sh nodejs10.x
  publish-nodejs12x:
    docker:
        - image: circleci/node:12-stretch
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y python3-pip
      - run:
          name: Install publish dependencies
          command: sudo pip3 install -U awscli
      - run:
          name: Publish layer
          command: |
            cd nodejs
            ./publish-layers.sh nodejs12.x
  publish-nodejs14x:
    docker:
        - image: circleci/node:14-stretch
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y python3-pip
      - run:
          name: Install publish dependencies
          command: sudo pip3 install -U awscli
      - run:
          name: Publish layer
          command: |
            cd nodejs
            ./publish-layers.sh nodejs14.x
  publish-python27:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run:
          name: Install publish dependencies
          command: sudo pip install -U awscli
      - run:
          name: Publish layer
          command: |
            cd python
            ./publish-layers.sh python2.7
  publish-python36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: Install publish dependencies
          command: sudo pip install -U awscli
      - run:
          name: Publish layer
          command: |
            cd python
            ./publish-layers.sh python3.6
  publish-python37:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install publish dependencies
          command: sudo pip install -U awscli
      - run:
          name: Publish layer
          command: |
            cd python
            ./publish-layers.sh python3.7
  publish-python38:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          name: Install publish dependencies
          command: sudo pip install -U awscli
      - run:
          name: Publish layer
          command: |
            cd python
            ./publish-layers.sh python3.8

  publish-extension:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          name: Install publish dependencies
          command: sudo pip install -U awscli
      - run:
          name: Publish layer
          command: |
            cd extension
            ./publish-layer.sh

workflows:
  version: 2
  publish-layers:
    jobs:
      - publish-nodejs810:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_nodejs/
      - publish-nodejs10x:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_nodejs/
      - publish-nodejs12x:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_nodejs/
      - publish-nodejs14x:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_nodejs/
      - publish-python27:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_python/
      - publish-python36:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_python/
      - publish-python37:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_python/
      - publish-python38:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_python/
      - publish-extension:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*_extension/
