version: 2.1

orbs:
  codecov: codecov/codecov@3.2.4

jobs:
  publish-nodejs14x:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Node 14 unit tests
          command: cd nodejs && npm run ciTest
      # - run:
      #     name: Publish layer
      #     command: make publish-nodejs14x-ci

  publish-nodejs16x:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Node 16 unit tests
          command: cd nodejs && npm run ciTest
      # - run:
      #     name: Publish layer
      #     command: make publish-nodejs16x-ci

  # publish-python36:
  #   docker:
  #     - image: circleci/python:3.6
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install publish dependencies
  #         command: sudo pip install -U awscli
  #     - run:
  #         name: Publish layer
  #         command: |
  #           cd python
  #           ./publish-layers.sh python3.6

  # publish-python37:
  #   docker:
  #     - image: circleci/python:3.7
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install publish dependencies
  #         command: sudo pip install -U awscli
  #     - run:
  #         name: Publish layer
  #         command: |
  #           cd python
  #           ./publish-layers.sh python3.7

  # publish-python38:
  #   docker:
  #     - image: circleci/python:3.8
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install publish dependencies
  #         command: sudo pip install -U awscli
  #     - run:
  #         name: Publish layer
  #         command: |
  #           cd python
  #           ./publish-layers.sh python3.8

  # publish-python39:
  #   docker:
  #     - image: circleci/python:3.9
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install publish dependencies
  #         command: sudo pip install -U awscli
  #     - run:
  #         name: Publish layer
  #         command: |
  #           cd python
  #           ./publish-layers.sh python3.9

  # publish-java8.al2:
  #   docker:
  #     - image: circleci/python:3.8
  #   steps:
  #     - checkout
  #     - setup_remote_docker
  #     - run:
  #         name: Publish layer
  #         command: make publish-java8al2-ci

  # publish-java11:
  #   docker:
  #     - image: circleci/python:3.8
  #   steps:
  #     - checkout
  #     - setup_remote_docker
  #     - run:
  #         name: Publish layer
  #         command: make publish-java11-ci

  # publish-extension:
  #   docker:
  #     - image: circleci/python:3.8
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install publish dependencies
  #         command: sudo pip install -U awscli
  #     - run:
  #         name: Publish layer
  #         command: |
  #           cd extension
  #           ./publish-layer.sh

workflows:
  version: 2
  publish-layers:
    jobs:
      - publish-nodejs14x:
          pre-steps: # steps to run before steps defined in the job bar
            - run:
                command: echo "install custom dependency"
          post-steps: # steps to run after steps defined in the job bar
            - run:
                command: echo "upload artifact to s3"
      - publish-nodejs16x:
          pre-steps: # steps to run before steps defined in the job bar
            - run:
                command: echo "install custom dependency"
          post-steps: # steps to run after steps defined in the job bar
            - run:
                command: echo "upload artifact to s3"
      # - publish-nodejs14x:
          # filters:
            # branches:
            #   ignore: /.*/
            # tags:
            #   only: /v[0-9]+(\.[0-9]+)*_nodejs/
      # - publish-nodejs16x:
          # filters:
            # branches:
            #   ignore: /.*/
            # tags:
            #   only: /v[0-9]+(\.[0-9]+)*_nodejs/
      # - publish-python36:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*_python/
      # - publish-python37:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*_python/
      # - publish-python38:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*_python/
      # - publish-python39:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*_python/
      # - publish-java11:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*_java/
      # - publish-java8.al2:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*_java/
      # - publish-extension:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*_extension/
