name: Publish Python Layers

on:
  push:
    tags: [master]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Enter a tagged release to publish.'
        required: true
        type: string

env:
  release_tag: ''

jobs:
  publish-python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9, 3.10, 3.11, 3.12 ]
    steps:
      - uses: actions/checkout@v4
      - name: Set tag env var
        id: release_tag
        run: |
          if [[ ! -z ${{ github.event.inputs.tag }} ]]; then 
            echo "release_tag=${{ github.event.inputs.tag }}_python" >> "$GITHUB_ENV"
            echo "Publishing from workflow_dispatch ${{ github.event.inputs.tag }}_python"
          else
            echo "Publishing from GitHub event"
            echo "release_tag=${{ github.event.ref }}" >> "$GITHUB_ENV"
            echo "Publishing from GitHub event: new tag ${{ github.event.ref }}"
          fi
      - name: Check Tag
        id: python-check-tag
        run: |
          if [[ ${{ env.release_tag }} =~ ^refs/tags/v[0-9]+(\.[0-9]+)*_python/$ ]]; then
              echo "match=true" >> $GITHUB_OUTPUT
          fi
      - name: Install python dependencies
        if: steps.python-check-tag.outputs.match == 'true'
        run: pip install -U awscli
      - name: Publish Python ${{ matrix.python-version }} layer
        run: |
          cd python
          ./publish-layers.sh python${{ matrix.python-version }}
